* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
  list-style: noness;
}

header {
  width: 100vw;
  position: fixed;
}

header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 5px 10px 5px;
  background-color: #333;
}

header nav .logo a {
  color: white;
  font-weight: 600;
  cursor: pointer;
}

header nav .logo span {
  font-size: 1.4em;
}

header nav .logo p {
  color: rgb(117, 126, 126);
}

header nav p {
  font-size: 0.6em;
  color: white;
}

header nav p span {
  color: red;
  cursor: pointer;
}

header nav input {
  padding: 3px;
  border-radius: 8px;
}

header nav button {
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: 600;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

header nav button#check {
  padding: 2px 6px;
  font-weight: bold;
  font-size: 0.6em;
}

header nav button:hover {
  color: greenyellow;
}

header nav button#check:hover {
  font-size: 0.8em;
}

.menuHidden,
.menuHiddenShow {
  display: none;
}

main {
  width: 100vw;
  height: 100vh;
  background: url(../assets/cuyUniversity.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

main button#showBlogBtn {
  padding: 20px 60px;
  background-color: rgba(192, 2, 2, 0.74);
  border-radius: 10px;
  box-shadow: 1px 2px 72px 4px rgba(0, 0, 0, 0.74);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

main button#showBlogBtn {
  color: white;
  font-weight: 600;
}

main button#showBlogBtn:active {
  color: white;
  font-weight: 600;
}

main button#showBlogBtn:hover {
  box-shadow: 1px 2px 102px 4px rgba(0, 0, 0, 0.74);
  font-size: 1em;
}

#register {
  transition: 0.2s ease-in-out;
}

#register:hover {
  color: rgb(185, 80, 80);
}

.registerPage {
  width: 50vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.containerRegister {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  background-color: antiquewhite;
  border: 2px dashed #333;
}

.containerRegister input {
  padding: 3px;
  margin: 5px;
  border-radius: 5px;
}
.containerRegister select {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

.containerRegister button {
  padding: 4px 8px;
  border-radius: 5px;
  color: white;
  background-color: #333;
  transition: 0.3s ease-in-out;
}

.containerRegister button:hover {
  color: greenyellow;
  box-shadow: 1px 2px 102px 4px rgba(0, 0, 0, 0.74);
}

.btnRegister {
  margin-top: 2%;
  width: 40vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btnRegister #cancel {
  background-color: red;
}

.showData {
  width: 50vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.containerShowData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  background-color: antiquewhite;
  border: 2px dashed #333;
}
.containerShowData button {
  padding: 4px 8px;
  border-radius: 5px;
  color: white;
  background-color: #333;
  transition: 0.3s ease-in-out;
}
.containerShowData button:hover {
  color: greenyellow;
  box-shadow: 1px 2px 102px 4px rgba(0, 0, 0, 0.74);
}
.data {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  margin-bottom: 9px;
}
table {
  border: 1px solid;
  text-align: center;
}
th {
  background-color: #333;
  color: white;
}
th,
td {
  padding: 8px;
  border: 1px solid;
}
.data {
  display: flex;
  flex-direction: column;
}

.containerLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50vw;
  height: 50vw;
  background-color: azure;
}

@media screen and (max-width: 1420px) {
  main {
    width: 100vw;
    height: 100vh;
    background: url(../assets/MinicuyUniversity.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #showBlogBtn {
    margin-top: 90px;
  }
}

@media screen and (max-width: 350px) {
  main {
    width: 100vw;
    height: 100vh;
    background: url(../assets/SuperMinicuyUniversity.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 510px) {
  header {
    position: -webkit-sticky;
    position: sticky;
    margin-bottom: -2px;
  }

  header nav {
    display: flex;
    flex-direction: column;
  }

  header nav .navLogin {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #showBlogBtn {
    margin-top: 90px;
  }
}
